In [1]:
import pandas as pd
import datetime
import numpy as np
import os

In [2]:
filepath_dec19 = os.path.join("/Users/shampee/Desktop/Homework Tableau/Resources" ,"JC-201912-citibike-tripdata.csv")
filepath_nov19 = os.path.join("/Users/shampee/Desktop/Homework Tableau/Resources" ,"JC-201911-citibike-tripdata.csv")
filepath_oct19 = os.path.join("/Users/shampee/Desktop/Homework Tableau/Resources" ,"JC-201910-citibike-tripdata.csv")
filepath_sep19 = os.path.join("/Users/shampee/Desktop/Homework Tableau/Resources" ,"JC-201909-citibike-tripdata.csv")
filepath_aug19 = os.path.join("/Users/shampee/Desktop/Homework Tableau/Resources" ,"JC-201908-citibike-tripdata.csv")
filepath_jul19 = os.path.join("/Users/shampee/Desktop/Homework Tableau/Resources" ,"JC-201907-citibike-tripdata.csv")
filepath_jun19 = os.path.join("/Users/shampee/Desktop/Homework Tableau/Resources" ,"JC-201906-citibike-tripdata.csv")
filepath_may19 = os.path.join("/Users/shampee/Desktop/Homework Tableau/Resources" ,"JC-201905-citibike-tripdata.csv")
filepath_apr19 = os.path.join("/Users/shampee/Desktop/Homework Tableau/Resources" ,"JC-201904-citibike-tripdata.csv")
filepath_mar19 = os.path.join("/Users/shampee/Desktop/Homework Tableau/Resources" ,"JC-201903-citibike-tripdata.csv")
filepath_feb19 = os.path.join("/Users/shampee/Desktop/Homework Tableau/Resources" ,"JC-201902-citibike-tripdata.csv")
filepath_jan19 = os.path.join("/Users/shampee/Desktop/Homework Tableau/Resources" ,"JC-201901-citibike-tripdata.csv")

In [3]:
nycbike_2019dec = pd.read_csv(filepath_dec19)
nycbike_2019nov = pd.read_csv(filepath_nov19)
nycbike_2019oct = pd.read_csv(filepath_oct19)
nycbike_2019sep = pd.read_csv(filepath_sep19)
nycbike_2019aug = pd.read_csv(filepath_aug19)
nycbike_2019jul = pd.read_csv(filepath_jul19)
nycbike_2019jun = pd.read_csv(filepath_jun19)
nycbike_2019may = pd.read_csv(filepath_may19)
nycbike_2019apr = pd.read_csv(filepath_apr19)
nycbike_2019mar = pd.read_csv(filepath_mar19)
nycbike_2019feb = pd.read_csv(filepath_feb19)
nycbike_2019jan = pd.read_csv(filepath_jan19)

In [4]:
nycbike_2019dec.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1553,2019-12-01 00:07:13.9360,2019-12-01 00:33:07.6820,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,2019-12-01 00:16:40.4700,2019-12-01 00:23:36.5700,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,2019-12-01 00:20:29.7980,2019-12-01 00:25:23.9690,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,2019-12-01 00:21:13.7580,2019-12-01 00:22:51.5970,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,2019-12-01 00:29:58.0230,2019-12-01 00:34:44.2280,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1
5,192,2019-12-01 00:36:34.3800,2019-12-01 00:39:46.3950,3276,Marin Light Rail,40.714584,-74.042817,3276,Marin Light Rail,40.714584,-74.042817,29247,Customer,1969,0
6,538,2019-12-01 01:08:24.2510,2019-12-01 01:17:22.2930,3185,City Hall,40.717732,-74.043845,3268,Lafayette Park,40.713464,-74.062859,29479,Customer,1996,1
7,426,2019-12-01 01:16:32.6940,2019-12-01 01:23:39.5230,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,29659,Customer,1969,0
8,457,2019-12-01 01:21:01.5610,2019-12-01 01:28:38.8630,3195,Sip Ave,40.730897,-74.063913,3281,Leonard Gordon Park,40.745910,-74.057271,26267,Subscriber,1969,1
9,441,2019-12-01 01:44:56.2570,2019-12-01 01:52:17.9410,3186,Grove St PATH,40.719586,-74.043117,3192,Liberty Light Rail,40.711242,-74.055701,29273,Subscriber,1984,1

In [5]:
nycbike_2019 = pd.concat([nycbike_2019dec,nycbike_2019nov,nycbike_2019oct,nycbike_2019sep,nycbike_2019aug,nycbike_2019jul,
                          nycbike_2019jun,nycbike_2019may,nycbike_2019apr,nycbike_2019mar,nycbike_2019feb,nycbike_2019jan])

In [6]:
nycbike_2019.rename(columns={"tripduration": "Trip Duration",
                                            "starttime": "Start Time",
                                            "stoptime": "Stop Time",
                                            "start station id": "Start Station ID",
                                            "start station name": "Start Station Name",
                                            "start station latitude": "Start Station Latitude",
                                            "start station longitude": "Start Station Longitude",
                                            "end station id": "End Station ID",
                                            "end station name": "End Station Name",
                                            "end station latitude": "End Station Latitude",
                                            "end station longitude": "End Station Longitude",
                                            "bikeid": "Bike ID",
                                            "usertype": "User Type",
                                            "birth year": "Birth Year",
                                            "gender": "Gender"
                                           }, inplace = True)
nycbike_2019.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,1553,2019-12-01 00:07:13.9360,2019-12-01 00:33:07.6820,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,2019-12-01 00:16:40.4700,2019-12-01 00:23:36.5700,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,2019-12-01 00:20:29.7980,2019-12-01 00:25:23.9690,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,2019-12-01 00:21:13.7580,2019-12-01 00:22:51.5970,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,2019-12-01 00:29:58.0230,2019-12-01 00:34:44.2280,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1

In [7]:
nycbike_2019.dtypes

Trip Duration                int64
Start Time                  object
Stop Time                   object
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
End Station Name            object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                      int64
User Type                   object
Birth Year                   int64
Gender                       int64
dtype: object

In [8]:
nycbike_2019["Start Time"] = pd.to_datetime(nycbike_2019["Start Time"])
nycbike_2019["Stop Time"] = pd.to_datetime(nycbike_2019["Stop Time"])
nycbike_2019.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,1553,2019-12-01 00:07:13.936,2019-12-01 00:33:07.682,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,2019-12-01 00:16:40.470,2019-12-01 00:23:36.570,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,2019-12-01 00:20:29.798,2019-12-01 00:25:23.969,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,2019-12-01 00:21:13.758,2019-12-01 00:22:51.597,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,2019-12-01 00:29:58.023,2019-12-01 00:34:44.228,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1

In [9]:
nycbike_2019.dtypes

Trip Duration                       int64
Start Time                 datetime64[ns]
Stop Time                  datetime64[ns]
Start Station ID                    int64
Start Station Name                 object
Start Station Latitude            float64
Start Station Longitude           float64
End Station ID                      int64
End Station Name                   object
End Station Latitude              float64
End Station Longitude             float64
Bike ID                             int64
User Type                          object
Birth Year                          int64
Gender                              int64
dtype: object

In [10]:
filepath_2019_jan_dec = os.path.join("/Users/shampee/Desktop/Homework Tableau/Resources" ,"JC-2019-jan-dec-citibike-tripdata1.csv")
nycbike_2019.to_csv(filepath_2019_jan_dec, index=False)
nycbike_2019.tail(10)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
19666,2605,2019-01-16 16:15:23.609,2019-01-16 16:58:48.851,3694,Jackson Square,40.71113,-74.0789,3211,Newark Ave,40.721525,-74.046305,26211,Subscriber,1991,2
19667,993,2019-01-17 06:28:22.912,2019-01-17 06:44:56.614,3694,Jackson Square,40.71113,-74.0789,3183,Exchange Place,40.716247,-74.033459,29272,Subscriber,1977,1
19668,345,2019-01-18 12:25:29.443,2019-01-18 12:31:14.950,3694,Jackson Square,40.71113,-74.0789,3280,Astor Place,40.719282,-74.071262,29515,Subscriber,1983,1
19669,1146,2019-01-18 15:48:34.369,2019-01-18 16:07:41.250,3694,Jackson Square,40.71113,-74.0789,3211,Newark Ave,40.721525,-74.046305,29442,Subscriber,1991,2
19670,991,2019-01-25 06:19:31.821,2019-01-25 06:36:03.223,3694,Jackson Square,40.71113,-74.0789,3183,Exchange Place,40.716247,-74.033459,29530,Subscriber,1977,1
19671,853,2019-01-26 06:40:17.332,2019-01-26 06:54:30.888,3694,Jackson Square,40.71113,-74.0789,3183,Exchange Place,40.716247,-74.033459,26293,Subscriber,1977,1
19672,936,2019-01-27 06:36:20.640,2019-01-27 06:51:57.146,3694,Jackson Square,40.71113,-74.0789,3183,Exchange Place,40.716247,-74.033459,26291,Subscriber,1977,1
19673,653,2019-01-27 21:14:08.546,2019-01-27 21:25:01.617,3694,Jackson Square,40.71113,-74.0789,3677,Glenwood Ave,40.727551,-74.071061,26188,Customer,1998,2
19674,960,2019-01-29 06:15:26.588,2019-01-29 06:31:26.730,3694,Jackson Square,40.71113,-74.0789,3183,Exchange Place,40.716247,-74.033459,26196,Subscriber,1977,1
19675,1109,2019-01-30 06:30:03.605,2019-01-30 06:48:33.276,3694,Jackson Square,40.71113,-74.0789,3183,Exchange Place,40.716247,-74.033459,26242,Subscriber,1977,1